nav {
    float: left;

    width: 15%;
} 

main {
    float: left;

    width: 36%;
}

aside {
    float: left;

    width: 40%;
}

.clearAll {
    clear: both;
    text-align: center;
    padding: 10px;
}